<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Yamaha</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Created De Content <span>by Gonzalo Medina</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">INICIO</a></li>
					<li><a href="generic">YAMAHA YBR</a></li>
					<li><a href="generic1">YAMAHA CRYPTON</a></li>
					<li><a href="generic2">YAMAHA XTZ</a></li>
					<li><a href="generic3">YAMAHA FZ-S</a></li>
					<li><a href="generic4">YAMAHA YZF-R1</a></li>
					<li><a href="generic5">YAMAHA YZF-R3</a></li>
					<li><a href="generic6">YAMAHA YZF-R6</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>YAMAHA</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA YBR 125</h2>
							<p>12,3 cv</p>
						</header>
						<div class="content">
							<p>Yamaha YBR 125 Z Ficha Técnica. Mecánica. Motor. Monocilíndrico, 4 tiempos, 2 válvulas, SOHC, refrigerado por aire. Cilindrada. 124 cc. Potencia máxima. 12,3 cv @ 7.500 rpm. Velocidad máxima.</p>
						</div>
						<footer>
							<a href="/generic" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">leer mas</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA CRYPTON 110</h2>
							<p>8 hp</p>
						</header>
						<div class="content">
							<p>Yamaha Crypton 110 Ficha Técnica. Mecánica. Motor. Monocilíndrico, 4 tiempos, 2 válvulas, SOHC, refrigerado por aire. Cilindrada. 110 cc. Potencia máxima. 8 hp @ 7.500 rpm. Velocidad máxima.</p>
						</div>
						<footer>
							<a href="/generic1" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">leer mas</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA XTZ</h2>
							<p>10 cv</p>
						</header>
						<div class="content">
							<p>Yamaha XTZ 125 Ficha Técnica. Mecánica. Motor. Monocilíndrico, 4 tiempos, 2 válvulas, SOHC, refrigerado por aire. Cilindrada. 124 cc. Potencia máxima. 10 cv @ 7.500 rpm. Velocidad máxima.</p>
						</div>
						<footer>
							<a href="/generic2" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">leer mas</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA FZ-S</h2>
							<p>13 cv</p>
						</header>
						<div class="content">
							<p>Yamaha FZ-S FI Ficha Técnica. Mecánica. Motor. Monocilíndrico, 4 tiempos, 2 válvulas, SOHC, refrigerado por aire. Cilindrada. 149 cc. Potencia máxima. 13 cv @ 8.000 rpm. Velocidad máxima.</p>
						</div>
						<footer>
							<a href="/generic3" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Five -->
			<section id="four" class="wrapper post bg-img" data-bg="banner6.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA YZF-R1</h2>
							<p>998CC</p>
						</header>
						<div class="content">
							<p>El motor de esta Yamaha R1 es bastante interesante pues como toda “Liter Bike” o Super bike cuenta con un motor de cuatro cilindros y 998CC (casi 1L de capacidad) sólo que utiliza una tecnología que hasta el momento en el que se lanzó esta generación de R1 no se había visto antes en un modelo de calle.</p>
						</div>
						<footer>
							<a href="/generic4" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- six -->
			<section id="four" class="wrapper post bg-img" data-bg="banner7.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA YZF-R3</h2>
							<p>321cc</p>
						</header>
						<div class="content">
							<p>La Yamaha YZF-R3 es un deportiva ligera con motor de 321cc destinada a los usuarios del carnet A2 y que en 2019 se renueva por completo con un diseño inspirado en la YZF-R1 de MotoGP. Principales características de la Yamaha YZF-R3 2019 Potente motor 4T bicilíndrico con 4 válvulas por cilindro Ligero chasis tubular de acero de tamaño compacto</p>
						</div>
						<footer>
							<a href="/generic5" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- seven -->
			<section id="four" class="wrapper post bg-img" data-bg="banner8.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>YAMAHA YZF-R6</h2>
							<p>321cc</p>
						</header>
						<div class="content">
							<p> es una de las supersport 600 que se mantienen en un segmento cada vez menos poblado, en el que destaca por su motor tetracilíndrico de 600 cc. En esta temporada, la Yamaha R6 2020 luce nuevos colores, pero sus características son iguales a la del año pasado.</p>
						</div>
						<footer>
							<a href="/generic6" class="button alt">leer mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>